body {
    background-color: black;
}

.red {
    width: 30rem;
    height: 100rem;
    
    background-color: red;
    display: inline-block;
    
    margin-left: 1.4rem;
  }
  
  .green {
      width: 30rem;
      height: 100rem;
    
      background-color: green;
      display: inline-block;
  }
  
  .blue {
      width: 30rem;
      height: 100rem;
    
      background-color: blue;
      display: inline-block;
  }